.leftSidebarClassLink:hover{
    background-color: #179DBA !important;
    color: white !important;
}

.leftSidebarClassLink div:hover{
    background-color: #179DBA !important;
    color: white !important;
}

.chatFriendsListItem:hover {
    background-color: #179DBA !important;
    color: white !important;
}

.patientMessageItem.notRead {
    background-color: #F0F0F0 !important;
}